## Group iteration & aggregations
By the end of this lecture you will be able to:
- iterate over groups
- get group values
- do multiple aggregations

In [1]:
import polars as pl
import polars.selectors as cs

In [2]:
df = pl.read_csv('../Files/Sample_Superstore.csv')

## Iterating over groups
We can access the `DataFrame` for each group by looping over a `GroupBy` object.

The group key is a `tuple` even when we are only grouping by one column. For this reason we set the first iteration variable to be a one-element tuple as `(Profit)` so we can define a variable that matches the column name

In [3]:
obj = df.group_by(["Category"])

In [4]:
type(obj)

polars.dataframe.group_by.GroupBy

In [5]:
obj

In [18]:
for category, group_df in df.group_by(["Category"]):
    display(category)
    display(group_df.head(3))
    print("\n")

('Technology',)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬─────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪═════════╪══════════╪══════════╪═════════╡
│ 8      ┆ CA-2014-115812 ┆ 09-06-2014 ┆ 14-06-2014 ┆ … ┆ 907.152 ┆ 6        ┆ 0.2      ┆ 90.7152 │
│ 12     ┆ CA-2014-115812 ┆ 09-06-2014 ┆ 14-06-2014 ┆ … ┆ 911.424 ┆ 4        ┆ 0.2      ┆ 68.3568 │
│ 20     ┆ CA-2014-143336 ┆ 27-08-2014 ┆ 01-09-2014 ┆ … ┆ 213.48  ┆ 3        ┆ 0.2      ┆ 16.011  │
└────────┴────────────────┴────────────┴────────────┴───┴─────────┴──────────┴──────────┴─────────┘

('Office Supplies',)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---    │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64    │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪════════╡
│ 3      ┆ CA-2016-138688 ┆ 12-06-2016 ┆ null       ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714 │
│ 5      ┆ US-2015-108966 ┆ 11-10-2015 ┆ 18-10-2015 ┆ … ┆ 22.368 ┆ 2        ┆ 0.2      ┆ 2.5164 │
│ 7      ┆ CA-2014-115812 ┆ 09-06-2014 ┆ 14-06-2014 ┆ … ┆ 7.28   ┆ 4        ┆ 0.0      ┆ 1.9656 │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴────────┘

('Furniture',)

shape: (3, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ null          ┆ null       ┆ 11-11-2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│ 2      ┆ CA-2016-15215 ┆ 08-11-2016 ┆ 11-11-2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ null          ┆ 11-10-2015 ┆ null       ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

### Types for group by Key:Value

In [20]:
for category, group_df in df.group_by(["Category"]):
    display(type(category))
    display(type(group_df))
    print("\n")

tuple

polars.dataframe.frame.DataFrame

tuple

polars.dataframe.frame.DataFrame

tuple

polars.dataframe.frame.DataFrame

## Group values
We use `head` to get the first rows in each group.

In this example we return a `DataFrame` with the first 2 rows from each group

In [22]:
df.group_by("Category").head(2)

shape: (6, 21)
┌───────────────┬────────┬──────────────┬────────────┬───┬─────────┬──────────┬──────────┬─────────┐
│ Category      ┆ Row_ID ┆ Order_ID     ┆ Order_Date ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit  │
│ ---           ┆ ---    ┆ ---          ┆ ---        ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---     │
│ str           ┆ i64    ┆ str          ┆ str        ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64     │
╞═══════════════╪════════╪══════════════╪════════════╪═══╪═════════╪══════════╪══════════╪═════════╡
│ Furniture     ┆ 1      ┆ null         ┆ null       ┆ … ┆ 261.96  ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ Furniture     ┆ 2      ┆ CA-2016-1521 ┆ 08-11-2016 ┆ … ┆ 731.94  ┆ 3        ┆ 0.0      ┆ 219.582 │
│               ┆        ┆ 56           ┆            ┆   ┆         ┆          ┆          ┆         │
│ Office        ┆ 3      ┆ CA-2016-1386 ┆ 12-06-2016 ┆ … ┆ 14.62   ┆ 2        ┆ 0.0      ┆ 6.8714  │
│ Supplies      ┆        ┆ 88           ┆            ┆   ┆         ┆          ┆          ┆         │
│ Office        ┆ 5      ┆ US-2015-1089 ┆ 11-10-2015 ┆ … ┆ 22.368  ┆ 2        ┆ 0.2      ┆ 2.5164  │
│ Supplies      ┆        ┆ 66           ┆            ┆   ┆         ┆          ┆          ┆         │
│ Technology    ┆ 8      ┆ CA-2014-1158 ┆ 09-06-2014 ┆ … ┆ 907.152 ┆ 6        ┆ 0.2      ┆ 90.7152 │
│               ┆        ┆ 12           ┆            ┆   ┆         ┆          ┆          ┆         │
│ Technology    ┆ 12     ┆ CA-2014-1158 ┆ 09-06-2014 ┆ … ┆ 911.424 ┆ 4        ┆ 0.2      ┆ 68.3568 │
│               ┆        ┆ 12           ┆            ┆   ┆         ┆          ┆          ┆         │
└───────────────┴────────┴──────────────┴────────────┴───┴─────────┴──────────┴──────────┴─────────┘

We can also use `tail` to get the last elements

## Calling aggregations directly on `group_by`
We can call aggregations on all columns directly on `group_by` without using `agg`

In this example, we count the number of rows per group and we get a single column of counts

In [25]:
df.group_by("Category").len()

shape: (3, 2)
┌─────────────────┬──────┐
│ Category        ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ Furniture       ┆ 2121 │
│ Office Supplies ┆ 6026 │
│ Technology      ┆ 1847 │
└─────────────────┴──────┘

The methods we can all on `GroupBy` include:
 - `first` get the first element of each group
 - `last` get the last element of each group
 - `n_unique` get the number of unique elements in each group
 - `count` get the number of elements in each group
 - `sum` sum the elements in each group
 - `min` get the smallest element in each group
 - `max` get the largest element in each group
 - `mean` get the average of elements in each group
 - `median` get the median in each group
 - `quantile` calculate quantiles in each group

We can also call aggregations on a lazy group though not all of the above are supported

## Multiple aggregations on the same columns
We can use the `prefix` or `suffix` expressions when we do different aggregations on the same columns.

In this example we get the `min` and `max` of the floating point columns grouped by Category. We then sort the outputs to have aggregations on the same column together by sorting the column names inside a `pipe` function

In [36]:
group_column = "Category"
(
    df
    .group_by(group_column)
    .agg(
        pl.col(pl.Float64).min().name.suffix("_min"),
        pl.col(pl.Float64).max().name.suffix("_max"),
    )
    .pipe(
        lambda df: df.select([group_column]+sorted(df.columns[1:]))
    )
)

shape: (3, 7)
┌─────────────────┬──────────────┬──────────────┬────────────┬────────────┬───────────┬───────────┐
│ Category        ┆ Discount_max ┆ Discount_min ┆ Profit_max ┆ Profit_min ┆ Sales_max ┆ Sales_min │
│ ---             ┆ ---          ┆ ---          ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│ str             ┆ f64          ┆ f64          ┆ f64        ┆ f64        ┆ f64       ┆ f64       │
╞═════════════════╪══════════════╪══════════════╪════════════╪════════════╪═══════════╪═══════════╡
│ Furniture       ┆ 0.7          ┆ 0.0          ┆ 1013.127   ┆ -1862.3124 ┆ 4416.174  ┆ 1.892     │
│ Technology      ┆ 0.7          ┆ 0.0          ┆ 8399.976   ┆ -6599.978  ┆ 22638.48  ┆ 0.99      │
│ Office Supplies ┆ 0.8          ┆ 0.0          ┆ 4946.37    ┆ -3701.8928 ┆ 9892.74   ┆ 0.444     │
└─────────────────┴──────────────┴──────────────┴────────────┴────────────┴───────────┴───────────┘