# Reading from and writing to a database
By the end of this lecture you will be able to:
- Create `SQLite` database
- read from a SQL database
- apply row and column filters
- Read from client server database

In [1]:
from pathlib import Path

import polars as pl

## Creating a SQLite database

For this lecture we first create a local database with SQLite. A SQLite database is simply a file on disk. 

We create a `DataFrame` with 10k rows of Sample_Superstore  data

In [19]:
csv_file = '../../Files/Sample_Superstore-1.csv'

df = pl.read_csv(csv_file)

Before we write to the database we need to create a directory to hold it.

First we set the path to the directory where we create the SQLite database file.

In [20]:
sqliteDBDirectory = Path("data/sqlite/Sample_Superstore")
if not sqliteDBDirectory.exists():
    #if this does not yet exist we create it
    sqliteDBDirectory.mkdir(parents=True, exist_ok = True)

We set the path to the SQLite database file that we will create

In [21]:
sqliteDBPath = sqliteDBDirectory / "Sample_Superstore.sqlite"

### Engines for writing to a database
To work with a database we need to specify an engine to communicate between Polars and the database. The options are:
- SQLalchemy and
- Arrow Database Connectivity (ADBC)

#### SQLalchemy
If we choose SQLalchemy then Polars simply creates a Pandas `DataFrame` backed by PyArrow instead of Numpy (a zero-copy operation).

You can do this as well if you want to have full control over operations:
```python
            df.to_pandas(use_pyarrow_extension_array=True).to_sql(
                name=table_name, con=engine, if_exists=if_exists
            )
```
Polars then uses the standard `to_sql` Pandas method on that `DataFrame`.
SQLalchemy is a tried and test approach that works for many different databases.

#### Arrow Database Connectivity (ADBC)
ADBC is a promising new approach built around Apache Arrow. It *should* have advantages over SQLalchemy in terms of performance and memory usage. However, it is still early days for ADBC and the feature set is still limited compared to SQLalchemy. If ADBC doesn't work for your situation now then stick with SQLalchemy and check back in a few months.

### Creating a database
In this example we create a SQLite database with ADBC.

To work with SQLite with ADBC we need to install an additional python package

For more info: https://www.sqlite.org/

In [22]:
pip install adbc_driver_sqlite

Requirement already satisfied: adbc_driver_sqlite in /Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: importlib-resources>=1.3 in /Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/lib/python3.9/site-packages (from adbc_driver_sqlite) (6.5.2)
Requirement already satisfied: adbc-driver-manager in /Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/lib/python3.9/site-packages (from adbc_driver_sqlite) (1.4.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/lib/python3.9/site-packages (from importlib-resources>=1.3->adbc_driver_sqlite) (3.21.0)
Requirement already satisfied: typing-extensions in /Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/lib/python3.9/site-packages (from adbc-driver-manager->adbc_driver_sqlite) (4.12.2)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Users/bharatbhushan/Documents/The Fun Data Labs/work/git/workspace/myenv/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

The connection URI for a SQLite database on disk must begin with `sqlite:///` followed by the path to the database file. We call `as_posix` on the `Path` object to extract the path as a string before writing the data to the database in a table called `records`

In [23]:
uri = "sqlite:///" + sqliteDBPath.as_posix()
uri

'sqlite:///data/sqlite/Sample_Superstore/Sample_Superstore.sqlite'

We now write the `DataFrame` to the `records` table in the database. We replace the table if it exists

In [24]:
uri = "sqlite:///" + sqliteDBPath.as_posix()
if not sqliteDBPath.exists():
    # if the database doesn't exist then create it
    (
        df
        .sort("Customer_ID")
        .write_database(
            table_name = "records",
            connection = uri,
            if_table_exists = "replace",
            engine="adbc",
        )
    )

## Reading from a database

We query the database with the `uri` connection string above and a sql query.

In this example we select 3 rows from the records table

In [25]:
df = pl.read_database_uri("select * from records limit 3", uri=uri, engine="adbc")
df

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---    │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64    │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪════════╡
│ 1160   ┆ CA-2017-147039 ┆ 29-06-2017 ┆ 04-07-2017 ┆ … ┆ 362.94 ┆ 3        ┆ 0.0      ┆ 90.735 │
│ 1161   ┆ CA-2017-147039 ┆ 29-06-2017 ┆ 04-07-2017 ┆ … ┆ 11.54  ┆ 2        ┆ 0.0      ┆ 5.77   │
│ 1300   ┆ CA-2015-121391 ┆ 04-10-2015 ┆ 07-10-2015 ┆ … ┆ 26.96  ┆ 2        ┆ 0.0      ┆ 7.0096 │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴────────┘

## Reading from a client-server database
To read from a client-server database like Postgres, MySQL, Oracle, etc then the connection string requires the standard connection and login details such as
```python
uri = "postgresql://username:password@server:port/database"
pl.read_database_uri(sql="select * from records",uri=uri)
```

We are using this database which is working online and dont need to install locally, We just need to connect with it.

In [15]:
uri = "postgresql://postgres:123456@localhost:5432/polars_test"

In [16]:
query = 'select * from employees'
df = pl.read_database_uri(query, uri)
df

shape: (3, 5)
┌─────┬─────────┬─────┬─────────────┬────────────┐
│ id  ┆ name    ┆ age ┆ department  ┆ hire_date  │
│ --- ┆ ---     ┆ --- ┆ ---         ┆ ---        │
│ i32 ┆ str     ┆ i32 ┆ str         ┆ date       │
╞═════╪═════════╪═════╪═════════════╪════════════╡
│ 1   ┆ Alice   ┆ 30  ┆ HR          ┆ 2020-05-01 │
│ 2   ┆ Bob     ┆ 40  ┆ Engineering ┆ 2018-07-12 │
│ 3   ┆ Charlie ┆ 35  ┆ Marketing   ┆ 2019-03-20 │
└─────┴─────────┴─────┴─────────────┴────────────┘

## Filtering rows and selecting columns
The `pl.read_database_uri` function works only in eager mode. If you read a database and then `select` a column or `filter` rows then the entire database is read into memory before the `select` or `filter` is applied.

In [17]:
(
    pl.read_database_uri('select * from employees', uri = uri)
    .filter(pl.col("age") > 35)
    .head(3)
)

shape: (1, 5)
┌─────┬──────┬─────┬─────────────┬────────────┐
│ id  ┆ name ┆ age ┆ department  ┆ hire_date  │
│ --- ┆ ---  ┆ --- ┆ ---         ┆ ---        │
│ i32 ┆ str  ┆ i32 ┆ str         ┆ date       │
╞═════╪══════╪═════╪═════════════╪════════════╡
│ 2   ┆ Bob  ┆ 40  ┆ Engineering ┆ 2018-07-12 │
└─────┴──────┴─────┴─────────────┴────────────┘

To apply the filters in the database you need to specify the filters in the SQL string using `where`

In [18]:
(
    pl.read_database_uri(
        "select * from employees where age > 35",
        uri=uri
    ).head(3)
)

shape: (1, 5)
┌─────┬──────┬─────┬─────────────┬────────────┐
│ id  ┆ name ┆ age ┆ department  ┆ hire_date  │
│ --- ┆ ---  ┆ --- ┆ ---         ┆ ---        │
│ i32 ┆ str  ┆ i32 ┆ str         ┆ date       │
╞═════╪══════╪═════╪═════════════╪════════════╡
│ 2   ┆ Bob  ┆ 40  ┆ Engineering ┆ 2018-07-12 │
└─────┴──────┴─────┴─────────────┴────────────┘

While to select columns you specify the columns in the SQL string

In [20]:
(
    pl.read_database_uri(
        "select name, age, department from employees",
        uri=uri
    ).head(3)
)

shape: (3, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ department  │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i32 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Alice   ┆ 30  ┆ HR          │
│ Bob     ┆ 40  ┆ Engineering │
│ Charlie ┆ 35  ┆ Marketing   │
└─────────┴─────┴─────────────┘