## `Series` and `DataFrame`
By the end of this lecture you will be able to:
- convert between a `Series` and a `DataFrame` column
- convert back and forward from python `lists`, `dicts` to `Series` and `DataFrames`

In [2]:
import polars as pl

In [11]:
csv_file = '../Sample_Superstore.csv'

In [12]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship_Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Converting between a `Series` and a `DataFrame` column

We can create a `Series` from a `DataFrame` column with square brackets

In [14]:
(
    df["Profit"]
    .head(3)
)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

We can also create a `Series` from a one-column `DataFrame` using `to_series` (we learn more about the `select` method in the next section of the course)

In [15]:
(
    df
    .select("Profit")
    .to_series()
    .head(3)
)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

We can convert a `Series` into a one-column `DataFrame` using `to_frame`

In [16]:
s = df["Customer_Name"]
(
    s
    .to_frame()
    .head(3)
)

shape: (3, 1)
┌─────────────────┐
│ Customer_Name   │
│ ---             │
│ str             │
╞═════════════════╡
│ Claire Gute     │
│ Claire Gute     │
│ Darrin Van Huff │
└─────────────────┘

## Create a `Series` or `DataFrame` from a `list` or `dict`
We can create a `Series` from a python `list`

In [17]:
values = [1,2,3]
pl.Series(values)

shape: (3,)
Series: '' [i64]
[
	1
	2
	3
]

If the `name` argument is not set then it defaults to an empty string. The name can be passed as the **first** argument

In [18]:
pl.Series('vals',values)

shape: (3,)
Series: 'vals' [i64]
[
	1
	2
	3
]

We can also convert a Series to a list with to_list

In [19]:
pl.Series(name='vals',values=values).to_list()

[1, 2, 3]

We can create a `DataFrame` with:
- a `list` of `lists` where each `list` is a column and
- a list of string column names

In [20]:
data = [
    [1,2,3],
    [4,5,6]
]
(
    pl.DataFrame(
        data,
        schema=["col0","col1"]
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col0 ┆ col1 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 4    │
│ 2    ┆ 5    │
│ 3    ┆ 6    │
└──────┴──────┘

We can also create a `DataFrame` from a `dict`

In [21]:
data_dict = {"col0":[1,2,3],"col1":[4,5,6]}
(
    pl.DataFrame(
        data_dict,
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col0 ┆ col1 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 4    │
│ 2    ┆ 5    │
│ 3    ┆ 6    │
└──────┴──────┘

We can specify dtypes by passing a `dict` to the `schema` argument. In this example we specify a 32-bit integer type for the `col1` column

In [22]:
data_dict = {"col0":[1,2,3],"col1":[4,5,6]}
(
    pl.DataFrame(
        data_dict,
        schema={
            "col0":pl.Int64,
            "col1":pl.Int32
        }
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col0 ┆ col1 │
│ ---  ┆ ---  │
│ i64  ┆ i32  │
╞══════╪══════╡
│ 1    ┆ 4    │
│ 2    ┆ 5    │
│ 3    ┆ 6    │
└──────┴──────┘

Finally we can get a `DataFrame` as a `list` of `dicts` with `to_dicts`

In [23]:
df = (
    pl.DataFrame(
        data_dict,
    )
)
df.to_dicts()

[{'col0': 1, 'col1': 4}, {'col0': 2, 'col1': 5}, {'col0': 3, 'col1': 6}]