# `DataFrame`
By the end of this lecture you will be able to:
- dictionary & list `dataframe`
- create `Polars` and `Pandas` `dataframe`
- convert `datframe`

### Dictionary 

A `dictionary` in Python is a collection of key-value pairs, where each key is unique and is used to access its corresponding value.

In [1]:
# Dictionary
data = {
    'ID':1,
    'Name': 'Alice',
    'Age': 25
}

In [2]:
data

{'ID': 1, 'Name': 'Alice', 'Age': 25}

`type()` is a built-in function that returns the data type of the given object.

In [3]:
print(type(data))

<class 'dict'>

Here, type(data) outputs <class 'dict'>, indicating that data is a list.

In [4]:
len(data)

3

### Using Dictionary in Polars Dataframe

In [5]:
import polars as pl

data = {
    'ID':1,
    'Name': 'Alice',
    'Age': 25
}

In [6]:
df = pl.DataFrame(data)

In [7]:
df

shape: (1, 3)
┌─────┬───────┬─────┐
│ ID  ┆ Name  ┆ Age │
│ --- ┆ ---   ┆ --- │
│ i64 ┆ str   ┆ i64 │
╞═════╪═══════╪═════╡
│ 1   ┆ Alice ┆ 25  │
└─────┴───────┴─────┘

In [8]:
type(df)

polars.dataframe.frame.DataFrame

https://docs.pola.rs/api/python/stable/reference/dataframe/index.html

In [9]:
df.columns

['ID', 'Name', 'Age']

In [10]:
len(df)

1

### List 

A `list` in Python is an ordered, mutable collection of items (of any data type) that is defined using square brackets `[]`.

In [11]:
# List
data = [
    [1,'Alice',25]
]

In [12]:
data

[[1, 'Alice', 25]]

type() is a built-in function that returns the data type of the given object.

In [13]:
print(type(data))

<class 'list'>

Here, type(data) outputs <class 'list'>, indicating that data is a list.

In [14]:
len(data)

1

In [15]:
import polars as pl

data = [
    [1,'Alice', 25]
]

df = pl.DataFrame(data, schema=['ID','Name','Age'])

/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/functools.py:877: DataOrientationWarning: Row orientation inferred during DataFrame construction. Explicitly specify the orientation by passing `orient="row"` to silence this warning.
  return dispatch(args[0].__class__)(*args, **kw)

In [16]:
df

shape: (1, 3)
┌─────┬───────┬─────┐
│ ID  ┆ Name  ┆ Age │
│ --- ┆ ---   ┆ --- │
│ i64 ┆ str   ┆ i64 │
╞═════╪═══════╪═════╡
│ 1   ┆ Alice ┆ 25  │
└─────┴───────┴─────┘

In [17]:
type(df)

polars.dataframe.frame.DataFrame

In [18]:
len(df)

1

### Creating Data variable using List And Dictionary

In [19]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Scores': [[85,90,95], [78, 82, 88], [92, 88, 84]],
    'Details': [
        {'City' : 'New York', 'Job': 'Engineer'},
        {'City' : 'Los Angeles', 'Job': 'Artist'},
        {'City' : 'Chicago', 'Job': 'Doctor'}
    ]
}

### Creating Pandas DataFrame using Data variable

`Pandas` is a Python library for fast and flexible data manipulation and analysis, using data structures like `DataFrame`and Series.

In [20]:
import pandas as pd

# create pandas datframe
df_pandas = pd.DataFrame(data)

In [26]:
df_pandas

      Name  Age        Scores                                   Details
0    Alice   25  [85, 90, 95]   {'City': 'New York', 'Job': 'Engineer'}
1      Bob   30  [78, 82, 88]  {'City': 'Los Angeles', 'Job': 'Artist'}
2  Charlie   35  [92, 88, 84]      {'City': 'Chicago', 'Job': 'Doctor'}

In [21]:
type(df_pandas)

pandas.core.frame.DataFrame

### Creating Polars DataFrame using Data variable

`Polars` is a fast, memory-efficient DataFrame library for Python, designed for data manipulation and analysis, built on Rust, and optimized for parallel processing and performance.

In [22]:
import polars as pl
import pyarrow
import numpy
# create polars dataframe
df_polars = pl.DataFrame(data)

In [23]:
df_polars

shape: (3, 4)
┌─────────┬─────┬──────────────┬──────────────────────────┐
│ Name    ┆ Age ┆ Scores       ┆ Details                  │
│ ---     ┆ --- ┆ ---          ┆ ---                      │
│ str     ┆ i64 ┆ list[i64]    ┆ struct[2]                │
╞═════════╪═════╪══════════════╪══════════════════════════╡
│ Alice   ┆ 25  ┆ [85, 90, 95] ┆ {"New York","Engineer"}  │
│ Bob     ┆ 30  ┆ [78, 82, 88] ┆ {"Los Angeles","Artist"} │
│ Charlie ┆ 35  ┆ [92, 88, 84] ┆ {"Chicago","Doctor"}     │
└─────────┴─────┴──────────────┴──────────────────────────┘

In [24]:
type(df_polars)

polars.dataframe.frame.DataFrame

### Convert Pandas DataFrame to Polars

convert `Pandas` to `Polars` datframe using `.from_pandas()`

In [26]:
df_polars_from_pandas = pl.from_pandas(df_pandas)

In [27]:
df_polars_from_pandas

shape: (3, 4)
┌─────────┬─────┬──────────────┬──────────────────────────┐
│ Name    ┆ Age ┆ Scores       ┆ Details                  │
│ ---     ┆ --- ┆ ---          ┆ ---                      │
│ str     ┆ i64 ┆ list[i64]    ┆ struct[2]                │
╞═════════╪═════╪══════════════╪══════════════════════════╡
│ Alice   ┆ 25  ┆ [85, 90, 95] ┆ {"New York","Engineer"}  │
│ Bob     ┆ 30  ┆ [78, 82, 88] ┆ {"Los Angeles","Artist"} │
│ Charlie ┆ 35  ┆ [92, 88, 84] ┆ {"Chicago","Doctor"}     │
└─────────┴─────┴──────────────┴──────────────────────────┘

In [28]:
type(df_polars_from_pandas)

polars.dataframe.frame.DataFrame

### Convert Polars DataFrame to Pandas

convert `Pandas` to `Polars` dataframe using `.to_pandas()`

In [29]:
df_pandas_from_polars = df_polars.to_pandas()

In [30]:
df_pandas_from_polars

      Name  Age        Scores                                   Details
0    Alice   25  [85, 90, 95]   {'City': 'New York', 'Job': 'Engineer'}
1      Bob   30  [78, 82, 88]  {'City': 'Los Angeles', 'Job': 'Artist'}
2  Charlie   35  [92, 88, 84]      {'City': 'Chicago', 'Job': 'Doctor'}

In [31]:
type(df_pandas_from_polars)

pandas.core.frame.DataFrame