## `Series` and `DataFrame`
By the end of this lecture you will be able to:
- convert between a `Series` and a `DataFrame` column
- convert back and forward from python `lists`, `dicts` to `Series` and `DataFrames`

In [7]:
import polars as pl

In [8]:
csv_file = '../Files/Sample_Superstore.csv'

In [9]:
df = pl.read_csv(csv_file)
print(df)

shape: (9_994, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 2      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 5      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ …      ┆ …             ┆ …          ┆ …          ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 9990   ┆ CA-2014-11042 ┆ 1/21/2014  ┆ 1/23/2014  ┆ … ┆ 25.248   ┆ 3        ┆ 0.2      ┆ 4.1028   │
│        ┆ 2             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9991   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 91.96    ┆ 2        ┆ 0.0      ┆ 15.6332  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9992   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 258.576  ┆ 2        ┆ 0.2      ┆ 19.3932  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9993   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 29.6     ┆ 4        ┆ 0.0      ┆ 13.32    │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9994   ┆ CA-2017-11991 ┆ 5/4/2017   ┆ 5/9/2017   ┆ … ┆ 243.16   ┆ 2        ┆ 0.0      ┆ 72.948   │
│        ┆ 4             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [10]:
type(df.head(3))

polars.dataframe.frame.DataFrame

## Converting between a `Series` and a `DataFrame` column

We can create a `Series` from a `DataFrame` column with square brackets

In [11]:
df["Profit"].head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

In [12]:
type(df["Profit"].head(3))

polars.series.series.Series

We can also create a `Series` from a one-column `DataFrame` using `to_series` (we learn more about the `select` method in the next section of the course)

In [14]:
df.select("Profit").to_series().head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

In [15]:
type(df.select("Profit").to_series().head(3))

polars.series.series.Series

We can convert a `Series` into a one-column `DataFrame` using `to_frame`

In [17]:
s = df["Customer_Name"]


s.to_frame().head(3)

shape: (3, 1)
┌─────────────────┐
│ Customer_Name   │
│ ---             │
│ str             │
╞═════════════════╡
│ Claire Gute     │
│ Claire Gute     │
│ Darrin Van Huff │
└─────────────────┘

## Create a `Series` or `DataFrame` from a `list` or `dict`
We can create a `Series` from a python `list`

In [20]:
values = [1,2,3]

In [21]:
values

[1, 2, 3]

In [22]:
type(values)

list

In [23]:
pl.Series(values)

shape: (3,)
Series: '' [i64]
[
	1
	2
	3
]

In [24]:
type(pl.Series(values))

polars.series.series.Series

If the `name` argument is not set then it defaults to an empty string. The name can be passed as the **first** argument

In [19]:
pl.Series('vals',values)

shape: (3,)
Series: 'vals' [i64]
[
	1
	2
	3
]

We can also convert a Series to a list with to_list

In [19]:
pl.Series(name='vals',values=values).to_list()

[1, 2, 3]

In [25]:
type(pl.Series(name='vals',values=values).to_list())

list