# Aggregates function
By the end of this lecture you will be able to:
- aggregates on dataframe
- aggregates on expression

In [1]:
import polars as pl

In [2]:
csv_file = "../../Files/Sample_Superstore.csv"

In [3]:
df = pl.read_csv(csv_file)

In [4]:
df.head(3)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Aggregates on a `DataFrame`

We can call aggregates methods on all columns of a `DataFrame`

## Mean

we can use `Mean` aggregates on all columns of `DataFrame`

In [5]:
df.mean()

shape: (1, 21)
┌────────┬──────────┬────────────┬───────────┬───┬────────────┬──────────┬──────────┬───────────┐
│ Row_ID ┆ Order_ID ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales      ┆ Quantity ┆ Discount ┆ Profit    │
│ ---    ┆ ---      ┆ ---        ┆ ---       ┆   ┆ ---        ┆ ---      ┆ ---      ┆ ---       │
│ f64    ┆ str      ┆ str        ┆ str       ┆   ┆ f64        ┆ f64      ┆ f64      ┆ f64       │
╞════════╪══════════╪════════════╪═══════════╪═══╪════════════╪══════════╪══════════╪═══════════╡
│ 4997.5 ┆ null     ┆ null       ┆ null      ┆ … ┆ 229.858001 ┆ 3.789574 ┆ 0.156203 ┆ 28.656896 │
└────────┴──────────┴────────────┴───────────┴───┴────────────┴──────────┴──────────┴───────────┘

## Max

we can use `Max` aggregates on all columns of `DataFrame`

In [6]:
df.max()

shape: (1, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪════════════════╪════════════╪═══════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 9994   ┆ US-2017-169551 ┆ 9/9/2017   ┆ 9/9/2017  ┆ … ┆ 22638.48 ┆ 14       ┆ 0.8      ┆ 8399.976 │
└────────┴────────────────┴────────────┴───────────┴───┴──────────┴──────────┴──────────┴──────────┘

## Min

we can use `Min` aggregates on all columns of `DataFrame`

In [7]:
df.min()

shape: (1, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬───────┬──────────┬──────────┬───────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales ┆ Quantity ┆ Discount ┆ Profit    │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---       │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64   ┆ i64      ┆ f64      ┆ f64       │
╞════════╪════════════════╪════════════╪═══════════╪═══╪═══════╪══════════╪══════════╪═══════════╡
│ 1      ┆ CA-2014-100006 ┆ 1/1/2017   ┆ 1/1/2015  ┆ … ┆ 0.444 ┆ 1        ┆ 0.0      ┆ -6599.978 │
└────────┴────────────────┴────────────┴───────────┴───┴───────┴──────────┴──────────┴───────────┘

## Count

we can use `Count` aggregates on all columns of `DataFrame`

In [8]:
df.count()

shape: (1, 21)
┌────────┬──────────┬────────────┬───────────┬───┬───────┬──────────┬──────────┬────────┐
│ Row_ID ┆ Order_ID ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales ┆ Quantity ┆ Discount ┆ Profit │
│ ---    ┆ ---      ┆ ---        ┆ ---       ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---    │
│ u32    ┆ u32      ┆ u32        ┆ u32       ┆   ┆ u32   ┆ u32      ┆ u32      ┆ u32    │
╞════════╪══════════╪════════════╪═══════════╪═══╪═══════╪══════════╪══════════╪════════╡
│ 9994   ┆ 9994     ┆ 9994       ┆ 9994      ┆ … ┆ 9994  ┆ 9994     ┆ 9994     ┆ 9994   │
└────────┴──────────┴────────────┴───────────┴───┴───────┴──────────┴──────────┴────────┘

## Sum

we can use `Sum` aggregates on all columns of `DataFrame`

In [16]:
df.sum()

shape: (1, 21)
┌──────────┬──────────┬────────────┬───────────┬───┬──────────┬──────────┬──────────┬─────────────┐
│ Row_ID   ┆ Order_ID ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit      │
│ ---      ┆ ---      ┆ ---        ┆ ---       ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---         │
│ i64      ┆ str      ┆ str        ┆ str       ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64         │
╞══════════╪══════════╪════════════╪═══════════╪═══╪══════════╪══════════╪══════════╪═════════════╡
│ 49945015 ┆ null     ┆ null       ┆ null      ┆ … ┆ 2.2972e6 ┆ 37873    ┆ 1561.09  ┆ 286397.0217 │
└──────────┴──────────┴────────────┴───────────┴───┴──────────┴──────────┴──────────┴─────────────┘

## Aggregates in an expression
We can calculate aggregates in an expression

Here, We can perform `Mean Expression` on specific column such as `Profit`

In [9]:
(
    df
    .select(
        pl.col('Profit').mean()
    )
)

shape: (1, 1)
┌───────────┐
│ Profit    │
│ ---       │
│ f64       │
╞═══════════╡
│ 28.656896 │
└───────────┘

Here, We can perform `Max Expression` on specific column such as `Profit`

In [12]:
(
    df
    .select(
        pl.col('Profit').max()
    )
)

shape: (1, 1)
┌──────────┐
│ Profit   │
│ ---      │
│ f64      │
╞══════════╡
│ 8399.976 │
└──────────┘

Here, We can perform `Min Expression` on specific column such as `Profit`

In [13]:
(
    df
    .select(
        pl.col('Profit').min()
    )
)

shape: (1, 1)
┌───────────┐
│ Profit    │
│ ---       │
│ f64       │
╞═══════════╡
│ -6599.978 │
└───────────┘

Here, We can perform `Count Expression` on specific column such as `Profit`

In [14]:
(
    df
    .select(
        pl.col('Profit').count()
    )
)

shape: (1, 1)
┌────────┐
│ Profit │
│ ---    │
│ u32    │
╞════════╡
│ 9994   │
└────────┘

Here, We can perform `Sum Expression` on specific column such as `Profit`

In [15]:
(
    df
    .select(
        pl.col('Profit').sum()
    )
)

shape: (1, 1)
┌─────────────┐
│ Profit      │
│ ---         │
│ f64         │
╞═════════════╡
│ 286397.0217 │
└─────────────┘