## Selecting columns 5: Distinct Column
By the end of this lesson you will be able to:
- on 1 Column
- on 2 Column

In [1]:
import polars as pl

In [7]:
csv_file = "../Files/Sample_Superstore.csv"

In [8]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Distinct on a Single Column

In [13]:
# Get distinct rows based on 'Customer_Name'
df.unique(subset=['Customer_Name']).select(['Customer_Name'])

shape: (793, 1)
┌──────────────────┐
│ Customer_Name    │
│ ---              │
│ str              │
╞══════════════════╡
│ Lindsay Shagiari │
│ Cari Schnelling  │
│ Sung Pak         │
│ Randy Ferguson   │
│ Kelly Collister  │
│ …                │
│ David Smith      │
│ Chad McGuire     │
│ James Lanier     │
│ Justin Hirsh     │
│ Emily Burns      │
└──────────────────┘

We can also use the another method along with unique to focus on specific columns.

In [12]:
df.select(pl.col('Customer_Name').unique())

shape: (793, 1)
┌────────────────────┐
│ Customer_Name      │
│ ---                │
│ str                │
╞════════════════════╡
│ Sally Matthias     │
│ Greg Matthias      │
│ Julie Prescott     │
│ Chris Selesnick    │
│ Roy Phan           │
│ …                  │
│ Benjamin Patterson │
│ Charles Crestani   │
│ Xylona Preis       │
│ Justin Deggeller   │
│ Heather Kirkland   │
└────────────────────┘

## Distinct on Two Columns

In [15]:
df.unique(subset=['Customer_Name', 'Profit']).select(['Customer_Name','Profit'])

shape: (9_977, 2)
┌──────────────────┬──────────┐
│ Customer_Name    ┆ Profit   │
│ ---              ┆ ---      │
│ str              ┆ f64      │
╞══════════════════╪══════════╡
│ Logan Haushalter ┆ 25.1916  │
│ Don Weiss        ┆ 1.7024   │
│ Dan Campbell     ┆ 4.797    │
│ Joy Smith        ┆ 126.225  │
│ Sandra Flanagan  ┆ 10.4148  │
│ …                ┆ …        │
│ Daniel Raglin    ┆ 315.7404 │
│ Frank Gastineau  ┆ 219.4514 │
│ Ivan Gibson      ┆ 0.4704   │
│ Naresj Patel     ┆ 3.2256   │
│ Mike Kennedy     ┆ 8.8062   │
└──────────────────┴──────────┘

We can also use the another method along with unique to focus on multiple columns.

In [16]:
df.select([pl.col('Customer_Name'), pl.col('Profit')]).unique()

shape: (9_977, 2)
┌──────────────────┬─────────┐
│ Customer_Name    ┆ Profit  │
│ ---              ┆ ---     │
│ str              ┆ f64     │
╞══════════════════╪═════════╡
│ Jesus Ocampo     ┆ 39.6879 │
│ Jeremy Lonsdale  ┆ 5.6448  │
│ Emily Ducich     ┆ -1.041  │
│ Ted Trevino      ┆ 19.035  │
│ Shirley Daniels  ┆ 4.4712  │
│ …                ┆ …       │
│ Dennis Bolton    ┆ 62.7822 │
│ Ralph Arnett     ┆ 1.0346  │
│ Joni Blumstein   ┆ 2.7168  │
│ Victoria Pisteka ┆ 54.0876 │
│ Chris Selesnick  ┆ 7.584   │
└──────────────────┴─────────┘