# Selecting columns 1: using `[]`
By the end of this lecture you will be able to:
- select a column or columns with `[]` indexing
- select rows and columns with `[]` indexing

In [1]:
import polars as pl

In [2]:
csv_path = '../Files/Sample_Superstore.csv'

In [8]:
df = pl.read_csv(csv_path)
df.head(3)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Choosing columns with square brackets

We can choose a column with a string in `[]`

In [9]:
df['Profit'].head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

## Choosing rows and columns with `[]`
We can choose rows and columns together with `[]`

In [10]:
df[0,"Profit"]

41.9136

In [11]:
type(df[0,"Profit"])

float

### Numeric indexing
We can use numeric indexing for columns when we pass a `tuple`

In [15]:
df[:, 1:6].head(2)

shape: (2, 5)
┌────────────────┬────────────┬────────────┬──────────────┬─────────────┐
│ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ Ship_Mode    ┆ Customer_ID │
│ ---            ┆ ---        ┆ ---        ┆ ---          ┆ ---         │
│ str            ┆ str        ┆ str        ┆ str          ┆ str         │
╞════════════════╪════════════╪════════════╪══════════════╪═════════════╡
│ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ Second Class ┆ CG-12520    │
│ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ Second Class ┆ CG-12520    │
└────────────────┴────────────┴────────────┴──────────────┴─────────────┘

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

## Selecting a single column with a string

We can choose a column with a string in the `select` method

In [16]:
df.select('Profit').head(3)

shape: (3, 1)
┌─────────┐
│ Profit  │
│ ---     │
│ f64     │
╞═════════╡
│ 41.9136 │
│ 219.582 │
│ 6.8714  │
└─────────┘

In [18]:
type(df.select('Profit').head(3))

polars.dataframe.frame.DataFrame

Note that the output of `select` is always a `DataFrame` rather than a `Series` even if just one column is selected.

We can use `to_series` if we want a `Series`

In [17]:
df.select('Profit').to_series().head(3)

shape: (3,)
Series: 'Profit' [f64]
[
	41.9136
	219.582
	6.8714
]

In [19]:
type(df.select('Profit').to_series().head(3))

polars.series.series.Series

## Selecting columns with an expression

We can select a column with an expression in the `select` method

In [21]:
df.select(pl.col('Profit')).head(3)

shape: (3, 1)
┌─────────┐
│ Profit  │
│ ---     │
│ f64     │
╞═════════╡
│ 41.9136 │
│ 219.582 │
│ 6.8714  │
└─────────┘

In this example we use the `round` expression to round the values of the `Fare` column

In [23]:
df.select(pl.col('Profit').round(0)).head(3)

shape: (3, 1)
┌────────┐
│ Profit │
│ ---    │
│ f64    │
╞════════╡
│ 42.0   │
│ 220.0  │
│ 7.0    │
└────────┘