# Selecting columns 2: using `[]`
By the end of this lecture you will be able to:
- select a column or columns with `[]` indexing
- select rows and columns with `[]` indexing

In [1]:
import polars as pl

In [2]:
csv_path = '../Files/Sample_Superstore.csv'

In [9]:
df = pl.read_csv(csv_path)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

In [ ]:
df.head(3)

## Choosing 2 columns with square brackets

We can choose a column with a string in `[]`

In [10]:
df[['Customer_Name','Profit']].head(3)

shape: (3, 2)
┌─────────────────┬─────────┐
│ Customer_Name   ┆ Profit  │
│ ---             ┆ ---     │
│ str             ┆ f64     │
╞═════════════════╪═════════╡
│ Claire Gute     ┆ 41.9136 │
│ Claire Gute     ┆ 219.582 │
│ Darrin Van Huff ┆ 6.8714  │
└─────────────────┴─────────┘

## Choosing rows and columns with `[]`
We can choose rows and columns together with `[]`

In [11]:
df[[0,1],["Customer_Name","Profit"]]

shape: (2, 2)
┌───────────────┬─────────┐
│ Customer_Name ┆ Profit  │
│ ---           ┆ ---     │
│ str           ┆ f64     │
╞═══════════════╪═════════╡
│ Claire Gute   ┆ 41.9136 │
│ Claire Gute   ┆ 219.582 │
└───────────────┴─────────┘

### Slice

In [14]:
df[1:3]

shape: (2, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

We can choose columns with a `slice` into the list in `df.columns`

In [12]:
df[:2, "Customer_Name":"Profit"]

shape: (2, 15)
┌───────────────┬──────────┬─────────┬───────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Customer_Name ┆ Segment  ┆ Country ┆ City      ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---           ┆ ---      ┆ ---     ┆ ---       ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ str           ┆ str      ┆ str     ┆ str       ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞═══════════════╪══════════╪═════════╪═══════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ Claire Gute   ┆ Consumer ┆ United  ┆ Henderson ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│               ┆          ┆ States  ┆           ┆   ┆        ┆          ┆          ┆         │
│ Claire Gute   ┆ Consumer ┆ United  ┆ Henderson ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│               ┆          ┆ States  ┆           ┆   ┆        ┆          ┆          ┆         │
└───────────────┴──────────┴─────────┴───────────┴───┴────────┴──────────┴──────────┴─────────┘

### Selecting 2 columns

We can select multiple columns with comma-separated strings

In [13]:
df.select('Customer_Name','Profit').head(3)

shape: (3, 2)
┌─────────────────┬─────────┐
│ Customer_Name   ┆ Profit  │
│ ---             ┆ ---     │
│ str             ┆ f64     │
╞═════════════════╪═════════╡
│ Claire Gute     ┆ 41.9136 │
│ Claire Gute     ┆ 219.582 │
│ Darrin Van Huff ┆ 6.8714  │
└─────────────────┴─────────┘

Or we can pass a list of column names to `select`

In [16]:
df.select(['Customer_Name','Profit']).head(3)

shape: (3, 2)
┌─────────────────┬─────────┐
│ Customer_Name   ┆ Profit  │
│ ---             ┆ ---     │
│ str             ┆ f64     │
╞═════════════════╪═════════╡
│ Claire Gute     ┆ 41.9136 │
│ Claire Gute     ┆ 219.582 │
│ Darrin Van Huff ┆ 6.8714  │
└─────────────────┴─────────┘

### Selecting 2 columns with a list of expressions

We can also pass 2 expressions seperated by commas or in a `list`. 

In this case we use the `alias` expression to change the name of one column in the output

In [17]:
df.select(pl.col('Customer_Name'),pl.col('Profit').round(0).alias('roundedProfit')).head(3)

shape: (3, 2)
┌─────────────────┬───────────────┐
│ Customer_Name   ┆ roundedProfit │
│ ---             ┆ ---           │
│ str             ┆ f64           │
╞═════════════════╪═══════════════╡
│ Claire Gute     ┆ 42.0          │
│ Claire Gute     ┆ 220.0         │
│ Darrin Van Huff ┆ 7.0           │
└─────────────────┴───────────────┘