***Reading a CSV File***

In [17]:
import polars as pl

In [19]:
csv_path = '../Files/Sample_Superstore.csv'

In [20]:

# Read CSV file
csv_df = pl.read_csv(csv_path)

# Display the DataFrame
print(csv_df)

shape: (9_994, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 2      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 5      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ …      ┆ …             ┆ …          ┆ …          ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 9990   ┆ CA-2014-11042 ┆ 1/21/2014  ┆ 1/23/2014  ┆ … ┆ 25.248   ┆ 3        ┆ 0.2      ┆ 4.1028   │
│        ┆ 2             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9991   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 91.96    ┆ 2        ┆ 0.0      ┆ 15.6332  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9992   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 258.576  ┆ 2        ┆ 0.2      ┆ 19.3932  │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9993   ┆ CA-2017-12125 ┆ 2/26/2017  ┆ 3/3/2017   ┆ … ┆ 29.6     ┆ 4        ┆ 0.0      ┆ 13.32    │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 9994   ┆ CA-2017-11991 ┆ 5/4/2017   ┆ 5/9/2017   ┆ … ┆ 243.16   ┆ 2        ┆ 0.0      ┆ 72.948   │
│        ┆ 4             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [21]:
csv_df.head(5)

shape: (5, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 2      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 5      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [23]:
csv_df.tail(5)

shape: (5, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬─────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪═══════════╪═══╪═════════╪══════════╪══════════╪═════════╡
│ 9990   ┆ CA-2014-110422 ┆ 1/21/2014  ┆ 1/23/2014 ┆ … ┆ 25.248  ┆ 3        ┆ 0.2      ┆ 4.1028  │
│ 9991   ┆ CA-2017-121258 ┆ 2/26/2017  ┆ 3/3/2017  ┆ … ┆ 91.96   ┆ 2        ┆ 0.0      ┆ 15.6332 │
│ 9992   ┆ CA-2017-121258 ┆ 2/26/2017  ┆ 3/3/2017  ┆ … ┆ 258.576 ┆ 2        ┆ 0.2      ┆ 19.3932 │
│ 9993   ┆ CA-2017-121258 ┆ 2/26/2017  ┆ 3/3/2017  ┆ … ┆ 29.6    ┆ 4        ┆ 0.0      ┆ 13.32   │
│ 9994   ┆ CA-2017-119914 ┆ 5/4/2017   ┆ 5/9/2017  ┆ … ┆ 243.16  ┆ 2        ┆ 0.0      ┆ 72.948  │
└────────┴────────────────┴────────────┴───────────┴───┴─────────┴──────────┴──────────┴─────────┘

In [27]:
csv_df.columns

['Row_ID',
 'Order_ID',
 'Order_Date',
 'Ship Date',
 'Ship_Mode',
 'Customer_ID',
 'Customer_Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal_Code',
 'Region',
 'Product_ID',
 'Category',
 'Sub_Category',
 'Product_Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [30]:
csv_df['Customer_Name']

shape: (9_994,)
Series: 'Customer_Name' [str]
[
	"Claire Gute"
	"Claire Gute"
	"Darrin Van Huff"
	"Sean O'Donnell"
	"Sean O'Donnell"
	…
	"Tom Boeckenhauer"
	"Dave Brooks"
	"Dave Brooks"
	"Dave Brooks"
	"Chris Cortes"
]

In [31]:
csv_df[['Customer_Name']].dtypes

[String]

***Reading Json Files***

In [13]:
# Read JSON file

json_df = pl.read_json('../Files/Second.json')

# Display the DataFrame
print(json_df)

shape: (12_407, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
│ …            ┆ …            ┆ …    ┆ …           │
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655    │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245    │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543    │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992    │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000    │
└──────────────┴──────────────┴──────┴─────────────┘

In [33]:
json_df.head(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬─────────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value       │
│ ---          ┆ ---          ┆ ---  ┆ ---         │
│ str          ┆ str          ┆ str  ┆ str         │
╞══════════════╪══════════════╪══════╪═════════════╡
│ Arab World   ┆ ARB          ┆ 1960 ┆ 96388069    │
│ Arab World   ┆ ARB          ┆ 1961 ┆ 98882541.4  │
│ Arab World   ┆ ARB          ┆ 1962 ┆ 101474075.8 │
│ Arab World   ┆ ARB          ┆ 1963 ┆ 104169209.2 │
│ Arab World   ┆ ARB          ┆ 1964 ┆ 106978104.6 │
└──────────────┴──────────────┴──────┴─────────────┘

In [34]:
json_df.tail(5)

shape: (5, 4)
┌──────────────┬──────────────┬──────┬──────────┐
│ Country Name ┆ Country Code ┆ Year ┆ Value    │
│ ---          ┆ ---          ┆ ---  ┆ ---      │
│ str          ┆ str          ┆ str  ┆ str      │
╞══════════════╪══════════════╪══════╪══════════╡
│ Zimbabwe     ┆ ZWE          ┆ 2006 ┆ 12529655 │
│ Zimbabwe     ┆ ZWE          ┆ 2007 ┆ 12481245 │
│ Zimbabwe     ┆ ZWE          ┆ 2008 ┆ 12451543 │
│ Zimbabwe     ┆ ZWE          ┆ 2009 ┆ 12473992 │
│ Zimbabwe     ┆ ZWE          ┆ 2010 ┆ 12571000 │
└──────────────┴──────────────┴──────┴──────────┘

In [35]:
json_df.columns

['Country Name', 'Country Code', 'Year', 'Value']

In [38]:
json_df['Country Name']

shape: (12_407,)
Series: 'Country Name' [str]
[
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	"Arab World"
	…
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
	"Zimbabwe"
]

In [39]:
json_df[['Country Name']].dtypes

[String]

***Reading Parquet Files***

In [40]:

# Read Parquet file
parquet_df = pl.read_parquet('../data/2022/yellow_taxi/yellow_tripdata_2022-01.parquet')

# Display the DataFrame
print(parquet_df)

shape: (2_463_931, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 0.3       ┆ 21.95     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 13.3      ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 10.56     ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 11.8      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 30.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
│ …        ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 13.69     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:36:53  ┆ 23:42:51  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 24.45     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:44:22  ┆ 23:55:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 16.52     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:39:00  ┆ 23:50:00  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 15.7      ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:36:42  ┆ 23:48:45  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-02-0 ┆ null      ┆ … ┆ 0.3       ┆ 35.06     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:46:00  ┆ 00:13:00  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [41]:
parquet_df.head(5)

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 2.0       ┆ … ┆ 0.3       ┆ 21.95     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:40  ┆ 00:53:29  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 13.3      ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:33:43  ┆ 00:42:07  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 10.56     ┆ 0.0       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:53:21  ┆ 01:02:19  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 11.8      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:25:21  ┆ 00:35:23  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-0 ┆ 2022-01-0 ┆ 1.0       ┆ … ┆ 0.3       ┆ 30.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:48  ┆ 01:14:20  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [43]:
parquet_df.tail(5)

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 13.69     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:36:53  ┆ 23:42:51  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 24.45     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:44:22  ┆ 23:55:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 16.52     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:39:00  ┆ 23:50:00  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-01-3 ┆ null      ┆ … ┆ 0.3       ┆ 15.7      ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:36:42  ┆ 23:48:45  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2022-01-3 ┆ 2022-02-0 ┆ null      ┆ … ┆ 0.3       ┆ 35.06     ┆ null      ┆ null      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 23:46:00  ┆ 00:13:00  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [44]:
parquet_df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [45]:
parquet_df['VendorID']

shape: (2_463_931,)
Series: 'VendorID' [i64]
[
	1
	1
	2
	2
	2
	…
	2
	2
	2
	2
	2
]

In [46]:
parquet_df[['VendorID']].dtypes

[Int64]

***Using Lazy loading For 1+ Billion Data***

In [48]:
import polars as pl

# Lazy loading the Parquet file
df_lazy = pl.scan_parquet("../data/2022/yellow_taxi/*").select(["trip_distance", "store_and_fwd_flag","total_amount"])

In [49]:
#Collect the result to materialize it as a DataFrame
df_lazy = df_lazy.collect(streaming = True)

In [50]:
# Display the result
df_lazy

shape: (39_656_098, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 3.8           ┆ N                  ┆ 21.95        │
│ 2.1           ┆ N                  ┆ 13.3         │
│ 0.97          ┆ N                  ┆ 10.56        │
│ 1.09          ┆ N                  ┆ 11.8         │
│ 4.3           ┆ N                  ┆ 30.3         │
│ …             ┆ …                  ┆ …            │
│ 11.56         ┆ null               ┆ 49.26        │
│ 5.06          ┆ null               ┆ 30.23        │
│ 13.35         ┆ null               ┆ 59.08        │
│ 0.0           ┆ null               ┆ 16.74        │
│ 4.24          ┆ null               ┆ 25.1         │
└───────────────┴────────────────────┴──────────────┘

In [51]:
# Lazy loading the Parquet file
df_lazy = pl.scan_parquet("../data/*/yellow_taxi/*").select(["trip_distance", "store_and_fwd_flag","total_amount"])

In [52]:
#Collect the result to materialize it as a DataFrame
df_lazy = df_lazy.collect(streaming = True)

In [53]:
df_lazy

shape: (1_125_446_833, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 0.9           ┆ N                  ┆ 5.9          │
│ 2.3           ┆ N                  ┆ 9.5          │
│ 2.2           ┆ N                  ┆ 10.3         │
│ 0.9           ┆ N                  ┆ 6.3          │
│ 0.7           ┆ N                  ┆ 5.5          │
│ …             ┆ …                  ┆ …            │
│ 2.43          ┆ null               ┆ 26.03        │
│ 0.0           ┆ null               ┆ 15.33        │
│ 1.8           ┆ null               ┆ 19.67        │
│ 3.39          ┆ null               ┆ 29.2         │
│ 0.0           ┆ null               ┆ 37.97        │
└───────────────┴────────────────────┴──────────────┘

In [56]:
df_lazy.head(5)

shape: (5, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 0.9           ┆ N                  ┆ 5.9          │
│ 2.3           ┆ N                  ┆ 9.5          │
│ 2.2           ┆ N                  ┆ 10.3         │
│ 0.9           ┆ N                  ┆ 6.3          │
│ 0.7           ┆ N                  ┆ 5.5          │
└───────────────┴────────────────────┴──────────────┘

In [57]:
df_lazy.tail(5)

shape: (5, 3)
┌───────────────┬────────────────────┬──────────────┐
│ trip_distance ┆ store_and_fwd_flag ┆ total_amount │
│ ---           ┆ ---                ┆ ---          │
│ f64           ┆ str                ┆ f64          │
╞═══════════════╪════════════════════╪══════════════╡
│ 2.43          ┆ null               ┆ 26.03        │
│ 0.0           ┆ null               ┆ 15.33        │
│ 1.8           ┆ null               ┆ 19.67        │
│ 3.39          ┆ null               ┆ 29.2         │
│ 0.0           ┆ null               ┆ 37.97        │
└───────────────┴────────────────────┴──────────────┘

In [58]:
df_lazy.columns

['trip_distance', 'store_and_fwd_flag', 'total_amount']

***We can get the dtype schema of a `LazyFrame` (which is a mapping from column names to dtypes) by calling `schema`***

In [59]:
df_lazy.schema

Schema([('trip_distance', Float64),
        ('store_and_fwd_flag', String),
        ('total_amount', Float64)])

### Creating a LazyFrame from data
We can also directly create a `LazyFrame` from a constructor with some data

In [55]:
pl.LazyFrame({"values":[0,1,2]})