# Filtering rows: Integer Columns
By the end of this lecture you will be able to:

- `Single` column
- `Multiple` column
- use `<` `>` `=` `!` Condition in `filter`
- use AND conditions in `filter`
- use OR conditions in `filter`
- use multiple `AND` and `OR` condition in `filter`
- use `Between` condition in `filter`

In [6]:
import polars as pl

In [7]:
csv_file = "../../Files/Sample_Superstore.csv"

In [8]:
df = pl.read_csv(csv_file)

In [9]:
df.head()

shape: (5, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 1      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96   ┆ 2        ┆ 0.0      ┆ 41.9136  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 2      ┆ CA-2016-15215 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94   ┆ 3        ┆ 0.0      ┆ 219.582  │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 3      ┆ CA-2016-13868 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62    ┆ 2        ┆ 0.0      ┆ 6.8714   │
│        ┆ 8             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 4      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 5      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 22.368   ┆ 2        ┆ 0.2      ┆ 2.5164   │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

## Selecting 1 column 

We can select a column with an expression in the `select` method

In [14]:
df.select(pl.col('Profit')).head(3)

shape: (3, 1)
┌─────────┐
│ Profit  │
│ ---     │
│ f64     │
╞═════════╡
│ 41.9136 │
│ 219.582 │
│ 6.8714  │
└─────────┘

## Selecting columns

We can select columns with an expression in the `select` method

In [15]:

#repeat
df.select(pl.col('Profit','Discount')).head(3)

shape: (3, 2)
┌─────────┬──────────┐
│ Profit  ┆ Discount │
│ ---     ┆ ---      │
│ f64     ┆ f64      │
╞═════════╪══════════╡
│ 41.9136 ┆ 0.0      │
│ 219.582 ┆ 0.0      │
│ 6.8714  ┆ 0.0      │
└─────────┴──────────┘

## Syntax of `filter`

In this example we choose all rows with the number of `Profit` is greater than 1000

In [32]:
(
    df
    .filter(
        pl.col('Profit') > 1000
    )
    .head(2)
)

shape: (2, 21)
┌────────┬───────────────┬────────────┬───────────┬───┬──────────┬──────────┬──────────┬───────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit    │
│ ---    ┆ ---           ┆ ---        ┆ ---       ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---       │
│ i64    ┆ str           ┆ str        ┆ str       ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64       │
╞════════╪═══════════════╪════════════╪═══════════╪═══╪══════════╪══════════╪══════════╪═══════════╡
│ 319    ┆ CA-2014-16497 ┆ 11/4/2014  ┆ 11/9/2014 ┆ … ┆ 3991.98  ┆ 2        ┆ 0.0      ┆ 1995.99   │
│        ┆ 3             ┆            ┆           ┆   ┆          ┆          ┆          ┆           │
│ 354    ┆ CA-2016-12971 ┆ 9/1/2016   ┆ 9/3/2016  ┆ … ┆ 4355.168 ┆ 4        ┆ 0.2      ┆ 1415.4296 │
│        ┆ 4             ┆            ┆           ┆   ┆          ┆          ┆          ┆           │
└────────┴───────────────┴────────────┴───────────┴───┴──────────┴──────────┴──────────┴───────────┘

To save a bit of typing we can also apply a filter to a column by passing the column name directly

In [36]:
(
    df
    .filter(
        pl.col('Profit') > 1000,
    )
    .select("Customer_Name", "Profit", "Discount")
    .head(5)
)

shape: (5, 3)
┌──────────────────────┬───────────┬──────────┐
│ Customer_Name        ┆ Profit    ┆ Discount │
│ ---                  ┆ ---       ┆ ---      │
│ str                  ┆ f64       ┆ f64      │
╞══════════════════════╪═══════════╪══════════╡
│ Nathan Mautz         ┆ 1995.99   ┆ 0.0      │
│ Adam Bellavance      ┆ 1415.4296 ┆ 0.2      │
│ Christopher Martinez ┆ 3177.475  ┆ 0.0      │
│ Alan Dominguez       ┆ 1379.977  ┆ 0.0      │
│ Mitch Willingham     ┆ 1276.4871 ┆ 0.0      │
└──────────────────────┴───────────┴──────────┘

The Filter available include:
- `=`
- `<`
- `>`
- `<=`
- `>=`
- `!=`

### Apply `AND` conditions

We can apply filter `AND` conditions where all conditions must be met in a number of ways.

In this example we look for rows where the `Quantity` is 5 `AND` the `Profit` is over 500

In [22]:
(
    df
    .filter(
        (pl.col('Quantity') == 5) & (pl.col('Profit') >= 500)
    )
    .head(2)
)

shape: (2, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬─────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64      │
╞════════╪════════════════╪════════════╪═══════════╪═══╪═════════╪══════════╪══════════╪══════════╡
│ 510    ┆ CA-2015-145352 ┆ 3/16/2015  ┆ 3/22/2015 ┆ … ┆ 6354.95 ┆ 5        ┆ 0.0      ┆ 3177.475 │
│ 516    ┆ CA-2017-127432 ┆ 1/22/2017  ┆ 1/27/2017 ┆ … ┆ 2999.95 ┆ 5        ┆ 0.0      ┆ 1379.977 │
└────────┴────────────────┴────────────┴───────────┴───┴─────────┴──────────┴──────────┴──────────┘

### Apply `AND` condition on a range

There is a less verbose way to do this by passing the predicates as a comma-separated list of expressions

In [37]:
(
    df
    .filter(
        pl.col("Quantity") == 5,
        pl.col("Profit") > 1000
    )
    .head(2)
)

shape: (2, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬─────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales   ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64     ┆ i64      ┆ f64      ┆ f64      │
╞════════╪════════════════╪════════════╪═══════════╪═══╪═════════╪══════════╪══════════╪══════════╡
│ 510    ┆ CA-2015-145352 ┆ 3/16/2015  ┆ 3/22/2015 ┆ … ┆ 6354.95 ┆ 5        ┆ 0.0      ┆ 3177.475 │
│ 516    ┆ CA-2017-127432 ┆ 1/22/2017  ┆ 1/27/2017 ┆ … ┆ 2999.95 ┆ 5        ┆ 0.0      ┆ 1379.977 │
└────────┴────────────────┴────────────┴───────────┴───┴─────────┴──────────┴──────────┴──────────┘

### Apply `OR` conditions

We can apply an OR filter using the pipe `|` operator.

In [27]:
(
    df
    .filter(
        (pl.col('Quantity') == 5) | (pl.col('Profit') >= 500)
    )
    .head(2)
)

shape: (2, 21)
┌────────┬───────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ Row_ID ┆ Order_ID      ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit   │
│ ---    ┆ ---           ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str           ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64      │
╞════════╪═══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 4      ┆ US-2015-10896 ┆ 10/11/2015 ┆ 10/18/2015 ┆ … ┆ 957.5775 ┆ 5        ┆ 0.45     ┆ -383.031 │
│        ┆ 6             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
│ 10     ┆ CA-2014-11581 ┆ 6/9/2014   ┆ 6/14/2014  ┆ … ┆ 114.9    ┆ 5        ┆ 0.0      ┆ 34.47    │
│        ┆ 2             ┆            ┆            ┆   ┆          ┆          ┆          ┆          │
└────────┴───────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴──────────┘

One kind of OR condition is when we want to check if a row is equal to any value in a `list`. We can do this with `is_in`

In [30]:
(
    df
    .filter(
        pl.col('Quantity').is_in([2,3])
    )
    .head(3)
)

shape: (3, 21)
┌────────┬────────────────┬────────────┬────────────┬───┬────────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales  ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str        ┆   ┆ f64    ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪════════════╪═══╪════════╪══════════╪══════════╪═════════╡
│ 1      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 261.96 ┆ 2        ┆ 0.0      ┆ 41.9136 │
│ 2      ┆ CA-2016-152156 ┆ 11/8/2016  ┆ 11/11/2016 ┆ … ┆ 731.94 ┆ 3        ┆ 0.0      ┆ 219.582 │
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016  ┆ … ┆ 14.62  ┆ 2        ┆ 0.0      ┆ 6.8714  │
└────────┴────────────────┴────────────┴────────────┴───┴────────┴──────────┴──────────┴─────────┘

## Apply `AND` and `OR` Condition

Filter with `AND` and `OR`

In [31]:
(
    df
    .filter(
        ((pl.col('Quantity') == 5) & (pl.col('Profit') >= 1000)) | (pl.col('City') == "Los Angeles")
    )
    .head(2)
)

shape: (2, 21)
┌────────┬────────────────┬────────────┬───────────┬───┬───────┬──────────┬──────────┬─────────┐
│ Row_ID ┆ Order_ID       ┆ Order_Date ┆ Ship Date ┆ … ┆ Sales ┆ Quantity ┆ Discount ┆ Profit  │
│ ---    ┆ ---            ┆ ---        ┆ ---       ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str            ┆ str        ┆ str       ┆   ┆ f64   ┆ i64      ┆ f64      ┆ f64     │
╞════════╪════════════════╪════════════╪═══════════╪═══╪═══════╪══════════╪══════════╪═════════╡
│ 3      ┆ CA-2016-138688 ┆ 6/12/2016  ┆ 6/16/2016 ┆ … ┆ 14.62 ┆ 2        ┆ 0.0      ┆ 6.8714  │
│ 6      ┆ CA-2014-115812 ┆ 6/9/2014   ┆ 6/14/2014 ┆ … ┆ 48.86 ┆ 7        ┆ 0.0      ┆ 14.1694 │
└────────┴────────────────┴────────────┴───────────┴───┴───────┴──────────┴──────────┴─────────┘

## Apply `Between` condition

We use `in_between` to apply a condition on a range. In this case we are looking for values **greater than or equal to** 1000 and **less than or equal to** 2000

In [39]:
(
    df
    .filter(
        pl.col('Profit').is_between(1000, 2000)
    ).head(5)
)

shape: (5, 21)
┌────────┬──────────────┬────────────┬────────────┬───┬──────────┬──────────┬──────────┬───────────┐
│ Row_ID ┆ Order_ID     ┆ Order_Date ┆ Ship Date  ┆ … ┆ Sales    ┆ Quantity ┆ Discount ┆ Profit    │
│ ---    ┆ ---          ┆ ---        ┆ ---        ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---       │
│ i64    ┆ str          ┆ str        ┆ str        ┆   ┆ f64      ┆ i64      ┆ f64      ┆ f64       │
╞════════╪══════════════╪════════════╪════════════╪═══╪══════════╪══════════╪══════════╪═══════════╡
│ 319    ┆ CA-2014-1649 ┆ 11/4/2014  ┆ 11/9/2014  ┆ … ┆ 3991.98  ┆ 2        ┆ 0.0      ┆ 1995.99   │
│        ┆ 73           ┆            ┆            ┆   ┆          ┆          ┆          ┆           │
│ 354    ┆ CA-2016-1297 ┆ 9/1/2016   ┆ 9/3/2016   ┆ … ┆ 4355.168 ┆ 4        ┆ 0.2      ┆ 1415.4296 │
│        ┆ 14           ┆            ┆            ┆   ┆          ┆          ┆          ┆           │
│ 516    ┆ CA-2017-1274 ┆ 1/22/2017  ┆ 1/27/2017  ┆ … ┆ 2999.95  ┆ 5        ┆ 0.0      ┆ 1379.977  │
│        ┆ 32           ┆            ┆            ┆   ┆          ┆          ┆          ┆           │
│ 995    ┆ CA-2014-1176 ┆ 5/21/2014  ┆ 5/25/2014  ┆ … ┆ 2715.93  ┆ 7        ┆ 0.0      ┆ 1276.4871 │
│        ┆ 39           ┆            ┆            ┆   ┆          ┆          ┆          ┆           │
│ 1455   ┆ CA-2016-1337 ┆ 11/26/2016 ┆ 11/29/2016 ┆ … ┆ 3040.0   ┆ 8        ┆ 0.0      ┆ 1459.2    │
│        ┆ 11           ┆            ┆            ┆   ┆          ┆          ┆          ┆           │
└────────┴──────────────┴────────────┴────────────┴───┴──────────┴──────────┴──────────┴───────────┘